* {
  transition: none !important;
  -webkit-print-color-adjust: exact !important;
  font-family: Tahoma, Geneva, sans-serif;
}

@page {
  size: 210mm 297mm;
  margin: 40px;
  width: 100%;
}

body {
  margin: 0;
}

h3 {
  margin: 0 0 15px;
}

table {
  page-break-inside: auto;
  width: 100%;
}

table td {
  page-break-inside: avoid;
}

thead {
  display: table-header-group;
}

tfoot {
  display: table-footer-group;
}

.no-print {
  display: none;
}

#timeTable {
  width: 100%;
}

td {
  border-top: 1px #000 solid;
}

.es-time-table th {
  font-weight: bold;
}

.es-time-table td {
  font-weight: normal;
}

.es-time-table th,
.es-time-table td {
  font-size: 10pt;
  height: 25px;
  text-align: center;
  vertical-align: middle !important;
}

.es-time-table-available {
  background-color: white;
}

.es-time-table-break {
  background-color: #cbcbcc;
}

.es-time-table-occupied {
  background-color: #fefefe;
}

.pagebreak {
  page-break-before: always;
}

#printHeader {
  text-align: center;
}

#all-attendances table td {
  padding: 5px 0 !important;
  padding-right: 20px !important;
}

#all-attendances .secondColumnStart {
  border-left: 1px solid gray;
  padding-left: 20px !important;
}
