@charset "utf-8";
/* CSS Document */

body {
  overflow-y: scroll;
  background: #ebecee;
}

.form-signin {
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto;
  /* margin-top: 90px; */
  background-color: #fff;

  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

  font-family: Tahoma, Geneva, sans-serif;
  color: #990000;
  font-weight: lighter;
}

.form-signin .form-signin-heading {
  color: #00a2d1;
}

.form-signin input[type="login"],
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
  font-size: 16px;
  height: 45px;
  padding: 7px 9px;
}

.signin-form,
.body-container {
  /* border: solid red 1px; */
  margin-top: 90px;
}

.navbar-brand {
  font-family: "Lucida Handwriting", sans-serif;
}

#btn-submit {
  height: 45px;
}

.message {
  margin-top: 30px;
  display: none;
}

.btn-no-margin {
  margin-right: 0;
}

.alert {
  margin: 10px 0;
}

#csv-preview {
  display: none;
}

/* ------- Tables ---------- */

.es-time-table th,
.es-time-table td {
  font-weight: bold;
  height: 55px;
  text-align: center;
  vertical-align: middle !important;
}

.es-time-table td .room {
  font-weight: normal;
}

.table td {
  border: 1px solid #9b9 !important;
}

.es-time-table-available {
  background-color: #fafafa;
}

.es-time-table-available:hover {
  background-color: #fafafa !important;
}

.es-time-table-break {
  background-color: #95e3ef;
}

.es-time-table-break:hover {
  background-color: #95e3ef !important;
}

.es-time-table-occupied {
  background-color: #f6f3e0;
}

.es-time-table-occupied:hover {
  background-color: #f6f3e0 !important;
}

.es-time-table-reserved {
  background-color: #fefad1;
}

.es-time-table-reserved:hover {
  background-color: #fefad1 !important;
}

.es-time-table-selected-teacher {
  background-color: red !important;
}

.shadow-cell {
  background: rgba(100, 100, 100, 0.1);
}

.col1 {
  width: 25%;
}
.col2 {
  width: 65%;
}
.colAction {
  width: 65%;
}

.only-print {
  display: none;
}

h1 {
  margin: 0 0 30px 0;
}

.siblingsForm {
  margin: 20px 0;
  max-width: 400px;
}

.siblingsForm td {
  vertical-align: middle !important;
  border: none !important;
}

#chooseMySlotsForm .form-control {
  max-width: 300px;
}

td.selectedTeacher {
  background-color: #f8e78c;
}

#all-attendances table td {
  padding: 5px 0 !important;
  padding-right: 20px !important;
}

#all-attendances .secondColumnStart {
  border-left: 1px solid gray;
  padding-left: 20px !important;
}

#allConnections td {
  padding: 0 20px 0 0;
}

.selectableName:hover {
  cursor: pointer;
  color: blue;
}

/* ------- print ------- */

@media print {
  body * {
    visibility: hidden;
  }

  .es-time-table th,
  .es-time-table td {
    font-size: 10pt;
    font-weight: normal;
    height: 23px;
    text-align: center;
    vertical-align: middle !important;
    padding: 5px !important;
  }
  .es-time-table-occupied {
    -webkit-print-color-adjust: exact;
  }

  .es-time-table-available {
    background-color: white;
  }

  .es-time-table-available:hover {
    background-color: white !important;
  }

  .es-time-table-break {
    background-color: #fefefe;
  }

  .es-time-table-break:hover {
    background-color: #fefefe !important;
  }

  .es-time-table-occupied {
    background-color: #fefefe;
  }

  .es-time-table-occupied:hover {
    background-color: #fefefe !important;
  }

  .es-time-table-reserved {
    background-color: #fefefe;
  }

  .es-time-table-reserved:hover {
    background-color: #fefefe !important;
  }

  .table td {
    border: 1px solid #ddd !important;
  }

  .section-to-print,
  .section-to-print * {
    visibility: visible;
    -webkit-print-color-adjust: exact;
  }

  .col1 {
    width: 200px;
  }
  .col2 {
    width: 400px;
  }

  .section-to-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .only-print {
    display: inline;
  }

  .no-print {
    display: none;
  }
}
